.card .card-header .facebook_button a.btn{border-radius: 0 !important;}
.card .card-header .facebook_button a.btn:hover{background: #4267B2 !important; border-color: #4267B2 !important;}
.makeScroll {height: 500px;overflow: hidden;}

@media (max-width: 575.98px) {
	.avatar-item .avatar-badge {
	    position: absolute;
	    bottom: 5px;
	    right: 95px;
	    margin-right: 0;
	}
}
.shadowed{box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);}
.bordered{border:1px solid #eee;}
.card.card-statistic-1 .card-icon, .card.card-statistic-2 .card-icon{width: 40px;}